<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<form @submit.prevent="submitForm">
				账号：<input type="text" v-model.trim="userInfo.account" /> <br /><br />
				密码：<input type="password" v-model="userInfo.password" /> <br /><br />
				性别：
				<input type="radio" v-model="userInfo.sex" value="man" />男
				<input type="radio" v-model="userInfo.sex" value="woman" />女
				<br /><br />
				年龄：<input type="number" v-model.number="userInfo.age" /> <br /><br />
				爱好：
				<input type="checkbox" v-model="userInfo.hobby" value="打台球" />打台球
				<input type="checkbox" v-model="userInfo.hobby" value="象棋" />象棋
				<input type="checkbox" v-model="userInfo.hobby" value="乒乓球" />乒乓球
				<br /><br />
				所属地区：
				<select name="city" v-model="userInfo.city">
					<option value="beijing">北京</option>
					<option value="shanghai">上海</option>
					<option value="shenzhen">深圳</option>
					<option value="guangzhou">广州</option>
				</select>
				<br /><br />
				其他信息：
				<textarea type="text" v-model.lazy="userInfo.otherInfo"></textarea>
				<br /><br />
				<input type="checkbox" v-model="userInfo.isRead"/>阅读并接受<a href="https://cn.vuejs.org/v2/guide/">《用户协议》</a>
				<br /><br />
				<button>提交</button>
			</form>
		</div>
		<script type="text/javascript">
			const vm = new Vue({
				el: '#root',
				data(){
					return {
						userInfo: {
							account: '',
							password: '',
							sex: '',
							age: '',
							hobby: [],
							city: '',
							otherInfo: '',
							isRead: false,
						}
					}
				},
				methods: {
					submitForm(){
						console.log('提交表单', this.userInfo);
					}
				}
			});
			
			/*
			 * 	收集表单数据：
			 * 		若：<input type="text" />，则v-model收集的数据是value值，用户输入的就是value值。
			 * 		若：<input type="radio" />，则v-model收集的数据是value值，且要给标签配置value值。
			 * 		若：<input type="checkbox" />
			 * 				1.没有配置input的value属性，那么收集的就是checked(勾选 or 未勾选，是布尔值)
			 * 				2.配置input的value属性：
			 * 					(1)v-model的初始值是非数组，那么收集的就是checked(勾选 or 未勾选，是布尔值)
			 * 					(2)v-model的初始值是数组，那么收集的就是value组成的数组
			 * 
			 * 		备注：v-model的三个修饰符：
			 * 					(1).lazy: 失去焦点再收集数据
			 * 					(2).number: 输入字符串转为有效的数字
			 * 					(3).trim: 收尾空格过滤
			 */
		</script>
	</body>
</html>
