<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
		<div id="root">
			姓：<input type="text" v-model="firstName" /><br/><br/>
			名：<input type="text" v-model="lastName" /><br/><br/>
			全名：<span>{{fullName()}}</span>
		</div>
	</body>
	<script type="text/javascript">
		const vm = new Vue({
			el: '#root',
			data(){
				return{
					firstName: '张',
					lastName: '三',
				}
			},
			methods: {
				fullName(){
					console.log('22222');
					return this.firstName.slice(0,3) + '-' + this.lastName.slice(0, 3);
				}
			},
		});
		
		/*
		 * data中的数据发生变化，vue的模板都会重新解析
		 * 重新解析模板，模板中遇到方法，该方法都会被重新调用一遍(fullName会被调用多次)
		 */
	</script>
</html>
