<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
		<div id="root">
			姓：<input type="text" v-model="firstName" /><br/><br/>
			名：<input type="text" v-model="lastName" /><br/><br/>
			全名：<span>{{fullName}}</span>
		</div>
	</body>
	<script type="text/javascript">
		/*
		 * 计算属性(computed)
		 * 	1.定义：要用的属性不存在，要通过已有的属性计算(vm中的data)得来
		 * 	2.原理：底层借助了Object.defineProperty方法提供的getter和setter
		 * 	3.get函数什么时候执行？
		 * 		(1)初次读取时会执行一次
		 * 		(2)当一来的数据发生变化时会被再次调用
		 * 	4.优势：与methods相比，内容部有缓存机制(复用)，效率更高，调用方便
		 * 	5.备注：
		 * 		(1)计算属性最终会出现在vm上，直接读取使用即可
		 * 		(2)如果计算属性要被修改，那必须写set函数去响应修改，且set中要引起计算时依赖的数据发生变化
		 */
		
		const vm = new Vue({
			el: '#root',
			data(){
				return{
					firstName: '张',
					lastName: '三',
				}
			},
			computed: {
				fullName: {
					/*
					 * get什么时候被调动
					 * 1.除此读取fullName的时候
					 * 2.所依赖的数据发生变化时
					 */
					get: function() {
						return this.firstName.slice(0, 3) + '-' + this.lastName.slice(0, 3)
					},
					set: function(newValue) {
						 let names = newValue.split('-')
				     this.firstName = names[0]
				     this.lastName = names[names.length - 1]
					}
				}
			}
		});
	</script>
</html>
